@mixin bgImage($path, $file, $height: null, $position: center, $size: cover) {
  background: url('#{$path}/#{$file}');
  background-repeat: no-repeat;
  background-size: $size;
  background-position: $position;

  @if($height) {
    height: $height;
  }

}