//
// Creates a border radius
// If the last three parameters are false then it sets the $topRight radius for all sides
// @param $topLeft
// @param $topRight
// @param $bottomRight
// @param $bottomLeft
//
@mixin border-radius($topLeft: 0, $topRight: false, $bottomRight: false, $bottomLeft: false) {

  @if $topRight == false {
    @if $bottomRight == false {
      @if $bottomLeft == false {
        $topRight:$topLeft;
        $bottomRight:$topLeft;
        $bottomLeft:$topLeft;
      }
    }
  }

  @if $topLeft != false {
    -webkit-border-top-left-radius:     $topLeft;
    -moz-border-radius-topleft:         $topLeft;
    border-top-left-radius:             $topLeft;

  }

  @if $topRight != false {
    -webkit-border-top-right-radius:    $topRight;
    -moz-border-radius-topright:        $topRight;
    border-top-right-radius:            $topRight;
  }

  @if $bottomRight != false {
    -webkit-border-bottom-right-radius: $bottomRight;
    -moz-border-radius-bottomright:     $bottomRight;
    border-bottom-right-radius:         $bottomRight;
  }

  @if $bottomLeft != false {
    -webkit-border-bottom-left-radius:  $bottomLeft;
    -moz-border-radius-bottomleft:      $bottomLeft;
    border-bottom-left-radius:          $bottomLeft;
  }

  -moz-background-clip:    padding;
  -webkit-background-clip: padding-box;
  background-clip:         padding-box;
}