@mixin verticalCenter($position: relative, $includeHorizontal: false) {
  position: $position;
  top: 50%;

  @if $includeHorizontal {
    left: 50%;
    @include transform(translate3d(-50%, -50%, 0));
  } @else {
    @include transform(translateY(-50%));
  }

}

