//
// Flexbox Col Grow Shrink Basis
//
@mixin flexbox-col-grow-shrink-basis($grow:0, $shrink:1, $basis:auto)
{
  @warn "Flexbox has been deprecated in this library. Use Flex-Grid instead.";
  flex:$grow $shrink $basis;
  -webkit-flex: $grow $shrink $basis;
  -ms-flex: $grow $shrink $basis;
}

//
// Flexbox Col Self Align
//
@mixin flexbox-col-self-align($selfAlign:auto)
{
  @warn "Flexbox has been deprecated in this library. Use Flex-Grid instead.";
  -webkit-align-self: $selfAlign;
  -ms-flex-item-align: $selfAlign;
  align-self: $selfAlign;
}

//
// Flexbox Col Order
//
@mixin flexbox-col-order($order:0)
{
  @warn "Flexbox has been deprecated in this library. Use Flex-Grid instead.";
  -webkit-order: $order;
  -ms-flex-order: $order;
  order: $order;
}

//
// Free Form Flex Column
//
@mixin flexbox-col($grow:0, $shrink:1, $basis:auto, $selfAlign:auto, $order:0) {
  @warn "Flexbox has been deprecated in this library. Use Flex-Grid instead.";

  // Grow Shrink Basis
  @include flexbox-col-grow-shrink-basis($grow, $shrink, $basis);

  // Self Align
  @include flexbox-col-self-align($selfAlign);

  // Order
  @include flexbox-col-order($order);
}