//
// Flexbox Direction
//
@mixin flexbox-direction($direction:row)
{
  @warn "Flexbox has been deprecated in this library. Use Flex-Grid instead.";
  -webkit-flex-direction: $direction;
  -ms-flex-direction: $direction;
  flex-direction: $direction;
}

//
// Flexbox Wrap
//
@mixin flexbox-wrap($wrap:nowrap)
{
  @warn "Flexbox has been deprecated in this library. Use Flex-Grid instead.";
  -webkit-flex-wrap: $wrap;
  -ms-flex-wrap: $wrap;
  flex-wrap: $wrap;
}

//
// Flexbox Justify
//
@mixin flexbox-justify($justify:flex-start) {
  // Justify $justify
  @warn "Flexbox has been deprecated in this library. Use Flex-Grid instead.";
  -webkit-justify-content: $justify;

  @if( $justify == space-around) {
    -ms-flex-pack: distribute;
  }
  @elseif( $justify == flex-start ) {
    -ms-flex-pack: start;
  }
  @else {
    -ms-flex-pack: $justify;
  }

  justify-content: $justify;
}

//
// Flexbox Align Content
//
@mixin flexbox-align-content($alignContent:stretch)
{
  @warn "Flexbox has been deprecated in this library. Use Flex-Grid instead.";
  // Align Content $alignContent
  -webkit-align-content: $alignContent;
  -ms-flex-line-pack: $alignContent;
  align-content: $alignContent;
}

//
// Flexbox Align Items
//
@mixin flexbox-align-items($alignItems:flex-start)
{
  @warn "Flexbox has been deprecated in this library. Use Flex-Grid instead.";
  //Align Items $alignItems
  -webkit-align-items: $alignItems;
  @if( $alignItems == flex-start ) {
    -ms-flex-align: start;
  }
  @else {
    -ms-flex-align: $alignItems;
  }
  align-items: $alignItems;
}

//
// Flex based row that accepts X number of columns
//
@mixin flexbox-row ($direction:row, $wrap:nowrap, $justify:flex-start, $alignContent:stretch, $alignItems:flex-start ){
  @warn "Flexbox has been deprecated in this library. Use Flex-Grid instead.";
  //Display
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  // Direction
  @include flexbox-direction($direction);

  // Wrap $wrap
  @include flexbox-wrap($wrap);

  // Justify $justify
  @include flexbox-justify($justify);

  // Align Content $alignContent
  @include flexbox-align-content($alignContent);

  //Align Items $alignItems
  @include flexbox-align-items($alignItems);
}
