//
// Sets the opacity
// @param $opacity
//
@mixin opacity($opacity: 0.5) {
  -webkit-opacity:$opacity;
  -moz-opacity:   $opacity;
  opacity: 		  $opacity;
}

//
// Creates a linear gradient (vertical)
// @param $startColor
// @param $endColor
//
@mixin gradient ($startColor: #eee, $endColor: white, $startBreakpoint: 0%, $endBreakpoint: 100%) {
  background-color: $startColor;
  background: -webkit-gradient(linear, left top, left bottom, from($startColor), to($endColor));
  background: -webkit-linear-gradient(top, $startColor, $endColor);
  background: -moz-linear-gradient(top, $startColor, $endColor);
  background: -ms-linear-gradient(top, $startColor, $endColor);
  background: -o-linear-gradient(top, $startColor, $endColor);
  background: linear-gradient(to bottom, $startColor $startBreakpoint, $endColor $endBreakpoint);
}

//
// Creates a linear gradient (horizontal
// @param $startColor
// @param $endColor
//
@mixin horizontal-gradient ($startColor: #eee, $endColor: white, $startBreakpoint: 0%, $endBreakpoint: 100%) {
  background-color: $startColor;
  background-image: -webkit-gradient(linear, left top, right top, from($startColor), to($endColor));
  background-image: -webkit-linear-gradient(left, $startColor, $endColor);
  background-image: -moz-linear-gradient(left, $startColor, $endColor);
  background-image: -ms-linear-gradient(left, $startColor, $endColor);
  background-image: -o-linear-gradient(left, $startColor, $endColor);
  background: linear-gradient(to right, $startColor $startBreakpoint, $endColor $endBreakpoint);
}