$breakpoints: (
        lg: 1199px,
        md: 991px,
        sm: 767px,
        xs: 543px,
        p-lg: 414px,
        p-md: 375px,
        p-sm: 320px
);

@mixin mqRange($min, $max) {
  @if map-has-key($breakpoints, $min) and map-has-key($breakpoints, $max) {
    $min-breakpoint: map_get($breakpoints, $min) + 1px;
    $max-breakpoint: map_get($breakpoints, $max);
    @media (min-width: $min-breakpoint) and (max-width: $max-breakpoint) {
      @content;
    }
  } @else {
    @error "One or both of your breakpoints are invalid";
  }
}

@mixin mq($max) {
  @if map-has-key($breakpoints, $max) {
    $breakpoint: map_get($breakpoints, $max);
    @media (max-width: $breakpoint) {
      @content;
    }
  } @else {
    @error "This is not a valid breakpoint";
  }
}

@mixin mqUp($min) {
  @if map-has-key($breakpoints, $min) {
    $breakpoint: map_get($breakpoints, $min);
    @media (min-width: $breakpoint + 1px) {
      @content;
    }
  } @else {
    @error "This is not a valid breakpoint";
  }
}