//
// Clears a UL/OL list are resets it
//
@mixin clear-ul {list-style: none; margin: 0; padding: 0;}

//
// Clears Margins
//
@mixin clear-margin {margin: 0;}

//
// Clears Padding
//
@mixin clear-padding {padding: 0;}