//
// Applies a text shadow to the element
// @param $string  A complete and valid CSS text shadow property
//
@mixin text-shadow($string: 0 1px 3px rgba(0, 0, 0, 0.25)) {
  text-shadow: $string;
}

//
// Applies a box shadow to the element
// @param $x  X Offset
// @param $y  Y Offset
// @param $blur  How much to blur the shadow
// @param $color  Color of Shadow
// @param $spread How much to spread the shadow
// @param $inset  True/False to toggle wether it is inset or not
//
@mixin box-shadow($x: 0, $y: 1px, $blur: 2px, $color:rgba(0,0,0,.25), $spread: 0, $inset:false) {

  @if $inset == false {
    $inset:null;
  }

  @if $inset == true {
    $inset:inset;
  }

  -webkit-box-shadow:	$inset $x $y $blur $spread $color;
  -moz-box-shadow:	    $inset $x $y $blur $spread $color;
  box-shadow:		    $inset $x $y $blur $spread $color;
}

//
// Clears a previously set text shadow
//
@mixin clear-text-shadow()
{
  text-shadow: none;
}

//
// Clears a previously set text shadow
//
@mixin clear-box-shadow()
{
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
}
