// mixin to set consistent margin sizes throughout projects + able to override them for responsive widths

@mixin space($less: 1rem, $space: 2.5rem, $extra: 4rem) {

  $directions: 'top', 'bottom';
  $container-sizes: 'lg', 'md', 'sm', 'xs';

  @each $direction in $directions {

    &.extra-space-#{$direction} {
      margin-#{$direction}: $extra;
    }

    &.space-#{$direction} {
      margin-#{$direction}: $space;
    }

    &.less-space-#{$direction} {
      margin-#{$direction}: $less;
    }

    @each $size in $container-sizes {
      @include mq($size) {
        &.extra-space-#{$size}-#{$direction} {
          margin-#{$direction}: $extra;
        }
        &.space-#{$size}-#{$direction} {
          margin-#{$direction}: $space;
        }
        &.less-space-#{$size}-#{$direction} {
          margin-#{$direction}: $less;
        }
        &.no-space-#{$size}-#{$direction} {
          margin-#{$direction}: 0;
        }
      }
    }
  }
}
