
//
// Applies a Transform to the element
// @param $string  Valid css transform properties
//
@mixin transform($string){
  -webkit-transform: $string;
  -moz-transform: 	 $string;
  -ms-transform: 	 $string;
  -o-transform: 	 $string;
  transform:         $string;
}

//
// Completely clears a transform from
//
@mixin clearTransform(){
  -webkit-transform:none;
  -moz-transform: 	none;
  -ms-transform: 	none;
  -o-transform: 	none;
  transform:        none;
}

//
// Scales an element
// @param $factor
//
@mixin scale ($factor) {
  @include transform(scale($factor));
}

//
// Rotates an element
// @param $deg
//
@mixin rotate ($deg) {
  @include transform(rotate($deg));
}

//
// Skews an element
// @param $deg
// @param $deg2
//
@mixin skew ($deg, $deg2) {
  @include transform(skew($deg, $deg2));
}

//
// Translates an element
// @param $x
// @param $y
//
@mixin translate ($x:0, $y:0) {
  @include transform(translate($x, $y));
}

//
// 3D Translates an element
// @param $x
// @param $y
// @param $z
//
@mixin translate3d ($x:0, $y:0, $z:0) {
  @include transform(translate3d($x, $y, $z))
}

//
// Changes the perspective of the element
// @param $value
//
@mixin perspective ($value: 1000) {
  -webkit-perspective:$value;
  -moz-perspective:   $value;
  -ms-perspective: 	  $value;
  perspective: 		  $value;
}

//
// Transforms the elements origin
// @param $x
// @param $y
//
@mixin transform-origin ($x:center, $y:center) {
  -webkit-transform-origin: $x $y;
  -moz-transform-origin:    $x $y;
  -ms-transform-origin:     $x $y;
  -o-transform-origin:      $x $y;
  transform-origin:         $x $y;
}