//
// Transition - Applies a transition to the element
// @param $property  The property to apply the effect to
// @param $speed  The speed at which to apply the effect
// @param $easing The type of easing to apply
// @param $delay  An optional delay before the effect begins
//
@mixin transition($property:all, $speed:.3s, $easing:linear, $delay:0s, $important:null) {
  transition: $property $speed $easing $important;
  transition-delay: $delay $important;
  animation-delay: $delay $important;
  backface-visibility: hidden;

  @if $property == 'transform' {
    -webkit-transition: -webkit-transform $speed $easing $important;
  }
  @else {
    -webkit-transition: $property $speed $easing $important;
  }
  -webkit-transition-delay: $delay $important;
  -webkit-animation-delay: $delay $important;
  -webkit-backface-visibility: hidden;
}

//
// Bounce Easing Variable used for transition mixin
//
$bounceEasing: cubic-bezier(.2, 1.4, .2, 1);

//
// Bounce Easing Reverse Variable used for transition mixin
//
$reverseBounceEasing: cubic-bezier(1, .2, 1.4, .2);


@mixin clearTransition($important: null) {
  transition: none $important;
  -webkit-transition: none $important;
}