//
// SCreates a triangle pointing up
// @para, $width, $color
//
@mixin triangleUp($width:5px, $color:#000, $length: null)
{
  width: 0;
  height: 0;
  border-left: $width solid transparent;
  border-right: $width solid transparent;
  @if $length {
    border-bottom: $length solid $color;
  } @else {
    border-bottom: $width solid $color;
  }

}

//
// SCreates a triangle pointing down
// @para, $width, $color
//
@mixin triangleDown($width:5px, $color:#000, $length: null)
{
  width: 0;
  height: 0;
  border-left: $width solid transparent;
  border-right: $width solid transparent;
  @if $length {
    border-top: $length solid $color;
  } @else {
    border-top: $width solid $color;
  }
}

//
// SCreates a triangle pointing left
// @para, $width, $color
//
@mixin triangleLeft($width:5px, $color:#000, $length: null)
{
  width: 0;
  height: 0;
  border-top: $width solid transparent;
  border-bottom:$width solid transparent;
  @if $length {
    border-right: $length solid $color;
  } @else {
    border-right: $width solid $color;
  }
}

//
// SCreates a triangle pointing right
// @para, $width, $color
//
@mixin triangleRight($width:5px, $color:#000, $length: null)
{
  width: 0;
  height: 0;
  border-top: $width solid transparent;
  border-bottom: $width solid transparent;
  @if $length {
    border-left: $length solid $color;
  } @else {
    border-left: $width solid $color;
  }

}