.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.relative {
  position: relative;
}


$directions: left, center, right;
$container-sizes: 'lg', 'md', 'sm', 'xs';

@each $direction in $directions {

  .align-#{$direction} {
    text-align: $direction;
  }

  @each $size in $container-sizes {
    @include mq($size) {
      .align-#{$size}-#{$direction} {
        text-align: $direction;
      }
    }
  }
}