// used to make grids that stretch full width of screen with only interior spacing between columns visible
@mixin makePaddedRow($size, $columnClass, $rowClass, $wrappedRow: false) {
  #{$rowClass} {
    margin-left: -$size;
    margin-right: -$size;
    @if $wrappedRow == false {
      #{$columnClass} {
        padding-left: $size;
        padding-right: $size;
      }
    } @else {
      #{$columnClass} {
        padding: $size;
      }
    }
  }
}