@mixin videoWrap($marginTop: 0, $marginBottom: 0, $border: null, $className: '.video-wrap') {
  #{$className} {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    @if $border {
      margin-top: 0;
      margin-bottom: 0;
    } @else {
      margin-top: $marginTop;
      margin-bottom: $marginBottom;
    }
    iframe {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
    }
  }
  @if $border {
    .video-border {
      border: $border;
      margin-top: $marginTop;
      margin-bottom: $marginBottom;
    }
  }
}